# Auto detect text files and perform LF normalization
* text=auto

# Force Python language detection
*.py linguist-language=Python

# Ignore large folders from language stats
checkpoints/* linguist-vendored
Dataset/* linguist-vendored
